evview {
    background-color: @theme_bg_color;
}

.content-view.view {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

evsidebarthumbnails.page-thumbnail {
    background-color: white;
    border: 1px solid black;
    padding: 0;
}

evsidebarthumbnails.page-thumbnail.inverted {
    background-color: black;
}

evview.document-page {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    border-image: none;
    padding: 0;
}

evview.document-page:active {
    border-color: @theme_selected_bg_color;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    border-image: none;
    padding: 0;
}

evview.document-page.inverted {
    background-color: black;
}
