evview {
    background-color: @theme_bg_color;
}

.content-view.view {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

evsidebarthumbnails.page-thumbnail {
    background-color: white;
    border: 1px solid black;
    padding: 0;
}

evsidebarthumbnails.page-thumbnail.inverted {
    background-color: black;
}
