
# ------------------------------------------------------------------------------
# This is the default .gitignore file for Xreader
# Search for (or add) the right category, if you like to add rules.
# If you need to ignore personal files, that do not need to be shared with
# others, consider to put them into your .git/info/exclude file. This file has
# the same format as a regular .gitignore.
# ------------------------------------------------------------------------------


# Eclipse
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath


# Autotools
autom4te.cache/
.autotools
aclocal.m4
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
libtool
ltmain.sh
Makefile
Makefile.in
omf.make
stamp-h1
xmldocs.make
/m4/
missing


# Build (general and executables)
*.o
*.Po
*.Plo
*.la
*.lo
*.gmo
*.pc
/shell/xreader
/shell/xreaderd
/shell/xreader-convert-metadata
/thumbnailer/xreader-thumbnailer
/previewer/xreader-previewer



# Libtoolize
.libs/
.deps/


# intltools / gettext
po/*.gmo
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/missing
intltool-extract.in
intltool-merge.in
intltool-update.in


# debian specific
/debian/*.log
/debian/*.substvars
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/gir1.2-xreader.install
/debian/gir1.2-xreader/
/debian/libxreaderdocument-dev/
/debian/libxreaderdocument3-dbg/
/debian/libxreaderdocument3/
/debian/libxreaderview-dev/
/debian/libxreaderview3-dbg/
/debian/libxreaderview3/
/debian/tmp/
/debian/xreader-common/
/debian/xreader-dbg/
/debian/xreader/


# help files
/help/**/*.mo
/help/**/*.stamp
/help/**/*.docbook
/help/**/*.xml
/help/reference/**/*-decl.txt
/help/reference/**/*-undeclared.txt
/help/reference/**/*-decl-list.txt
/help/reference/**/*-decl-list.txt
/help/reference/**/*-undocumented.txt
/help/reference/**/*-unused.txt
/help/reference/**/*.args
/help/reference/**/*.hierarchy
/help/reference/**/*.interfaces
/help/reference/**/*.prerequisites
/help/reference/**/*.signals
/help/reference/**/html/
/help/reference/**/xml/


# Merge backups
*_BACKUP_[1-9][0-9][0-9][0-9][0-9]*
*_LOCAL_[1-9][0-9][0-9][0-9][0-9]*
*_REMOTE_[1-9][0-9][0-9][0-9][0-9]*
*_BASE_[1-9][0-9][0-9][0-9][0-9]*


# Autogenerated c-files and header-files
/shell/ev-marshal.c
/shell/ev-marshal.h
/shell/ev-resources.c
/cut-n-paste/gimpcellrenderertoggle/gimpwidgetsmarshal.c
/cut-n-paste/gimpcellrenderertoggle/gimpwidgetsmarshal.h
/cut-n-paste/toolbar-editor/eggmarshalers.c
/cut-n-paste/toolbar-editor/eggmarshalers.h
/cut-n-paste/toolbar-editor/eggtypebuiltins.c
/cut-n-paste/toolbar-editor/eggtypebuiltins.h
/cut-n-paste/toolbar-editor/stamp-eggmarshalers.c
/cut-n-paste/toolbar-editor/stamp-eggmarshalers.h
/cut-n-paste/toolbar-editor/stamp-eggtypebuiltins.c
/cut-n-paste/toolbar-editor/stamp-eggtypebuiltins.h
/libdocument/ev-document-type-builtins.c
/libdocument/ev-document-type-builtins.h
/libdocument/ev-version.h
/libdocument/stamp-ev-document-type-builtins.c
/libdocument/stamp-ev-document-type-builtins.h
/libview/ev-view-marshal.c
/libview/ev-view-marshal.h
/libview/ev-view-type-builtins.c
/libview/ev-view-type-builtins.h
/libview/stamp-ev-view-type-builtins.c
/libview/stamp-ev-view-type-builtins.h


# Backend description files
/backend/**/*.xreader-backend


# data directory
/data/org.x.reader.Daemon.service
/data/org.x.reader.gschema.valid
/data/xreader.appdata.xml
/data/xreader.desktop
/data/xreader.desktop.in


# thumbnailer
/thumbnailer/xreader.thumbnailer


# Gobject-introspection files
*.gir
*.typelib


# Other files to ignore
install-sh
test-driver
compile
